.box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}

.box {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  width: 200px;
  background-color: rgb(235, 230, 223);
}
