.sidebar {
  width:calc(100px-250px);
  height: 100vh;
  border-right: 1px solid #ddd;
  align-items: center;
  position: relative;
  padding: 0px !important;
  transition: width 0.8s ease-in-out; /* Smooth transition only on width */
  /* overflow: hidden; */
  white-space: nowrap;
}

.sidebar > nav > ul > li {
  margin-left: 10px;
}

.sidebar > nav {
  align-items: center;
}

.nav-link {
  color: #555;
  font-size: 16px;
  padding: 10px;
  margin: 5px 0;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.nav-link:hover {
  background-color: #f8f9fa;
  color: #007bff;
  border-radius: 4px;
}

.nav-link.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  padding: 10px;
  margin-right: 10px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex-grow: 1;
  padding-left: 20px;
}

.collapsed-content {
  padding-left: 50px; /* Adjust for collapsed sidebar */
}

.account-settings {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account-settings h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.account-settings .nav-pills .nav-link {
  color: #007bff;
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.account-settings .nav-pills .nav-link:hover {
  background-color: #e9ecef;
  color: #0056b3;
}

.account-settings .nav-pills .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.settings-content {
  margin-top: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}



.nav-link > .ms-2{
  font-size: 0.9rem;
}